.root {
    -fx-background-color: #2B2B2B;
}

.text{
    -fx-font-smoothing-type: gray;
}

.label {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #009688;
    -fx-background-radius: 20;
    -fx-border-color: transparent;
    -fx-padding: 5px 15px 5px 15px;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: derive(#009688, 20%);
    -fx-cursor: hand;
}