.side-container {
    -fx-padding: 30pt;
    -fx-spacing: 30pt;
    -fx-pref-width: 200pt;
}

.side-box-title > .label {
    -fx-font-size: 13pt;
}

.rung-price-content > .label {
    -fx-font-size: 50pt;
}

.dice-content > .label {
    -fx-font-size: 40pt;
}


.side-box-title {
    -fx-alignment: center;
    -fx-padding: 5pt;
}

.side-box {
    -fx-min-height: 100pt;
    -fx-background-radius: 10pt;
    -fx-padding: 2pt;
}

.pocket-content, .rung-price-content, .dice-content {
    -fx-alignment: center;
}

.turn-label-container {
    -fx-padding: 15pt;
    -fx-alignment: center;
}

.pocket-content{
    -fx-padding: 10pt;
}

.user-pocket {
    -fx-background-color: #004F55;
}

.enemy-pocket {
    -fx-background-color: #66000A;
}

.rung-price-box {
    -fx-background-color: #434343;
}

.dice-box {
    -fx-background-color: #684B31;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 20pt;
    -fx-font-family: "Poppins";
    -fx-alignment: center;
}

.dice-box-header {
    -fx-background-color: #684B31;
    -fx-padding: 10pt;
    -fx-alignment: center;
}